/* 
 * ============================================================
 * 	INITIALIZE SETTINGS
 * ============================================================
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ============================================================
	CLEARFIX
============================================================ */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* ============================================================
	PRIMARY STRUCTURE
============================================================ */
body {
	height: 100%;
	width: 100%;
	background-color: #000;
	background-image: url("../img/code_background.gif");
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.5;
	overflow: hidden;
}

/* ============================================================
	HOVER DECORATION
============================================================ */
a {
	text-decoration: none;
	color: #F00;
	font-weight: 900;
}

/*  ============================================
	MEDIA QUERIES
	============================================ */
@media (min-width: 200px) {
	.menu-container {
		width: 100px;
	}
	.menu {
		display: flex; /* enable the flexbox */
		flex-direction: column;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
	}
	.menu li {
		color: #fff; /*#B3B3B3*/
		display: inline-block;
		position: relative;
		padding: 12px 40px;
		border: 1px solid #9D9FA2;
		background-color: rgba(61,61,61,0.7); /* making background color transpearant */
		border-radius: 2.5px;
		cursor: pointer;
	}
	#business-card {
		-webkit-animation: moving_bcard-small 10s cubic-bezier(.15, -.62, .47, 2.2) infinite;
		-moz-animation: moving_bcard-small 10s cubic-bezier(.15, -.62, .47, 2.2) infinite;
		animation: moving_bcard-small 10s cubic-bezier(.15, -.62, .47, 2.2) infinite;
	}
}
	
@media (min-width: 768px) {
	.menu {
		display: flex; /* enable the flexbox */
		flex-direction: column;
		align-items: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		-webkit-box-align: center;
		width: 100%;
		margin: 0 auto;
	}
	.menu li {
		color: #fff; /*#B3B3B3*/
		display: inline-block;
		margin-right: -2px;
		position: relative;
		padding: 12px 40px;
		border: 1px solid #9D9FA2;
		background-color: rgba(61,61,61,0.7); /* making background color transpearant */
		border-radius: 2.5px;
		cursor: pointer;
		transition-property: background;
		transition-duration: .5s;
		transition-delay: 0s;
		transition-timing-function: ease-out;
	}
	#business-card {
		-webkit-animation: moving_bcard-764 15s cubic-bezier(.15, -.62, .47, 2.2) infinite;
		-moz-animation: moving_bcard-764 15s cubic-bezier(.15, -.62, .47, 2.2) infinite;
		animation: moving_bcard-764 15s cubic-bezier(.15, -.62, .47, 2.2) infinite;
	}
}

@media (min-width: 1024px) {
	.menu {
		flex-direction: row;
		justify-content: space-between;
	}
}

