@media (max-width: 1400px) {
    .menu-container {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    #business-card {
        margin-top: 70px;
    }

    .menu-container li {
        height: 60px;
        width: 320px;  
    }

    .menu-container li ul {
        margin-top: 10px;
    }

    .menu-container a {
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    #business-card {
        opacity: 0;
    }

    .menu-container {
        width: 100%;
    }

    .menu-container ul {
        display: flex;
        flex-direction: column;
    }

    .menu-container li ul {
        width: 100%;
        margin-top: 30px;
    }
    
    .menu-container li {
        height: 80px;
        width: 60%;    
    }

    .menu-container li:first-child {
        order: 2;
    }
    .menu-container li:nth-child {
        order: 1;
    }
}

@media (min-width: 400px) {
    .menu-container li ul {
        width: 168%; 
    }
}

@media (max-width: 400px) {
    .menu-container {
        width: 100%;
        position: fixed;
        left: 0;
    }

    .menu-container li {
        height: 80px;
        width: 100%;
    }

    .menu-container li ul {
        margin-top: 5vh;
    }
}